# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
/.vs/serverdll
/ClientEXE/log
/ClientEXE/x64
/ClientEXE
/client_basePlugin/x64/Debug
/client_basePlugin/x64/Release/client_b.4224fc0a.tlog
/client_basePlugin/x64/Release
/client_server/x64
/intermediatorEXE/log
/intermediatorEXE/x64/Debug/tempFile/intermediatorEXE
/intermediator_basePlugin/x64
/intermediator_talkRoom/x64/Debug/tempFile/intermediator_talkRoom
/server_basePlugin/x64
/server_delPagePlugin/x64
/server_talkRoom/x64
/x64
*.user
/serverdll.sln
/serverdll.vcxproj
/serverdll.vcxproj.filters
/client_basePlugin/client_basePlugin.vcxproj
/client_basePlugin/client_basePlugin.vcxproj.filters
/client_server/client_server.vcxproj
/client_server/client_server.vcxproj.filters
/intermediatorEXE/intermediatorEXE.vcxproj
/intermediatorEXE/intermediatorEXE.vcxproj.filters
/intermediator_basePlugin/intermediator_basePlugin.vcxproj
/intermediator_basePlugin/intermediator_basePlugin.vcxproj.filters
/intermediator_delPage/intermediator_delPage.vcxproj
/intermediator_delPage/intermediator_delPage.vcxproj.filters
/intermediator_talkRoom/intermediator_talkRoom.vcxproj
/intermediator_talkRoom/intermediator_talkRoom.vcxproj.filters
/server_basePlugin/server_basePlugin.vcxproj
/server_basePlugin/server_basePlugin.vcxproj.filters
/server_delPagePlugin/server_delPagePlugin.vcxproj
/server_delPagePlugin/server_delPagePlugin.vcxproj.filters
/server_talkRoom/server_talkRoom.vcxproj
/server_talkRoom/server_talkRoom.vcxproj.filters
/.vs
/.vscode
/out/build/x64-debug/CMakeFiles
/out/build/x64-debug
/Ubuntu/readme
/windows/clientEXE/log
/windows/clientEXE/x64/Debug/tempFile/clientEXE
/windows/client_basePlugin/x64
/windows/client_server/x64
/windows/intermediatorEXE/log
/windows/intermediatorEXE/x64/Debug/tempFile/intermediatorEXE
/windows/intermediator_basePlugin/x64
/windows/intermediator_talkRoom/x64/Debug/tempFile/intermediator_talkRoom
/windows/server_basePlugin/x64
/windows/server_delPagePlugin/x64
/windows/server_talkRoom/x64
/Ubuntu/intermediator/obj/x64/Debug
/Ubuntu/basePlugin/obj/x64/Release
/Ubuntu/intermediator/obj/x64/Release
/Ubuntu/intermediatorTalkRoom/obj/x64/Release
/windows/clientEXE/x64/Release
/windows/intermediatorEXE/x64/Release
/windows/intermediator_talkRoom/x64/Release
